<footer class="green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Django Photo Gallery</h5>
          <p class="grey-text text-lighten-4">Photos that interest me </p>
        </div>
        <div class="col l4 offset-l2 s12">
        
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright SAMUEL ARONDA
      <a class="grey-text text-lighten-4 right" href="https://github.com/arondasamuel123">arondasamuel123</a>
      </div>
    </div>
  </footer>