{%extends 'index.html'%}


{%block content %}
<div class="containerone">
  <nav class="green">
    
    <div class="nav-wrapper">
      {%for location in locations%}
      <ul id="nav-mobile"class="right" >
        <li><a href="filter/{{location.id}}">{{location.image_location}}</a></li>
      </ul>
      {%endfor%}
    </div>
    
  </nav>
<div class="jumbotron">
<div class="header">
<h1 align="center" style="color: greenyellow;">WELCOME TO MY GALLERY</h1>
</div>
</div>
<div class="container">

<div class="row">
  {%for img in images %}
    <div class="column">
      <a data-target= "{{img.id}}" class="modal-trigger" href="#{{img.id}}" >
      <img class="repsonsive-img" alt="IMAGE" src="{{img.image.url}}">
    </a>
    </div>
    
    <div id="{{img.id}}" class="modal">
    <div class="modal-content">
      <h4>{{img.image_name}}</h4>
      <p>{{img.image_description}}</p>
      <img src="{{img.image.url}}" width="30%">
    </div>
    <div class="modal-footer left-align">
      <input hidden type="text" value="127.0.0.1:8000{{img.image.url}}" id="myInput">
      <button class="btn blue" onclick="myFunction()">Copy link</button>
    </div>
  </div>
  {%endfor%}
</div>
</div>
</div>



{%endblock%}

