{%extends 'index.html'%}


{%block content %}
<div class="containerone">
<div class="jumbotron">
<div class="header">
<h1 align="center" style="color: greenyellow;">WELCOME TO MY GALLERY</h1>
</div>
</div>
<div class="container">

<div class="row">
  {%for img in images %}
    <div class="column">
      <a data-target= "{{img.id}}" class="modal-trigger" href="#{{img.id}}" >
      <img alt="IMAGE" src="{{img.image.url}}">
    </a>
    </div>
    
    <div id="{{img.id}}" class="modal">
    <div class="modal-content">
      <h4>{{img.image_name}}</h4>
      <p>{{img.image_description}}</p>
      <img src="{{img.image.url}}" width="30%">
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
  {%endfor%}
</div>
</div>
</div>



{%endblock%}

