{%extends 'index.html'%}
{%block content%}
<nav class="green">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li align="center"><a  href="/">Home</a></li>
      </ul>
    </div>
  </nav> 
<div class="container">

    <div class="row">
        {%if image %}
        <div class="col s12 offset-s1">
            {% for img in image %}
      <div class="col-sm-6 col-md-3">
          <h3 style="color: green;">{{img.image_name}}</h3>
          <h3 style="color: green;">{{img.image_description}}</h3>
          <h3 style="color: green;">{{img.category.image_category}}</h3>
          <h3 style="color: green;">{{img.location.image_location}}</h3>
          <img src="{{img.image.url}}" width="50%">
      </div>
    {% endfor %}
  {% endif %}
        </div>
        
    </div>


</div>

{%endblock%}