
.jumbotron {
    background-image: url('https://picsum.photos/2000/1000');
    height: 500px;
}
.header {
    position: relative;
    bottom: -200px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
 body{
     background-color: beige;
     
 }
 

 @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 375px) {
    .column img {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 411px) {
    .column img {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 414px) {
    .column img {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .column img {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 320px) {
    a {
      font-size: medium;
    }
    h3 {
      font-size: small;
    }
    .nav-wrapper  {
      font-size: small;
    }
  }

  h1 {
    font-family: GillSans, sans-serif;
 }